// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0A2463;
$yellow: #FFC65A;
$orange: #FF9701;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #f4f8fb;
$black: rgb(50,54,57);
