.title{
  background-color: rgba(255, 166, 55, 0.69);



  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // margin-top: 5%;
  // padding-top: 2%;
  margin-bottom: 5%;
  padding-bottom: 1%;
}


.title h2, h1, h3{
  text-align: center;
  // margin-top: 2px;
}
