// Specific CSS for your home-page
.home-page {
  background: asset-url('giff.gif');
  background-size: 70%;
  background-color: white;
  // background-size: 375px;
  // background-repeat: no-repeat;
  background-position: 50% 28%;
  padding-top: 5%;
  background-repeat: no-repeat;
  //background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  height: 93vh;


}

.home-page h1 {
  // margin: 8%;
  color: $orange;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  border: 2px black;
  text-shadow:
    1px  1px 2px black,
    1px -1px 2px black,
   -1px  1px 2px black,
   -1px -1px 2px black;
}


.home-page h5 {
  color: black;
  //font-size: 25px;
  margin-top: 4%;
  // text-align: left;
  font-weight: bold;
  font-size: 24px;
}



#sentences{
  padding-top: 100%;
  color: black;
  text-align: center;
}

#call-to-action {
  margin-top: 5%;
  font-size: 30px;
  font-weight: 800;
  // color: black;
  // border: solid 1px;
  // margin-bottom: 3%;
}
