<div class="card-event">

  <div class="card-event-description">
    <p> <%= description %> </p>
    <%= t.hidden_field :time, as: :hidden  %>
  </div>
  <div class="card-times" id="form_group_<%= t.index %>">
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="1">01</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="5">05</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="10">10</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="15">15</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="20">20</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="25">25</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="30">30</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="35">35</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="40">40</div>
    <div class="btn btn-outline-primary font-weight-bold btn-time mb-2" value="45">45</div>
  </div>
</div>
