<%= form_for(@event) do |f| %>
<% i = 0 %>
  <%= f.fields_for :events_levels, @event.events_levels.sort_by(&:time) do |t|  %>
  <%= render 'event_levels_fields', t: t , start_t: @event.events_levels[i].time.to_i, description: @event.events_levels[i].description %>
  <% i += 1 %>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= f.button "Set these times!", class: "btn btn-primary w-100 font-weight-bolder mb-2 btn-lg" %>
  </div>
<% end %>
