#time-gif {
  // margin-top: -10%;
  // margin-bottom: -10%;
  margin-left: 25%;
  width: 50%;
}

.gif {
  background: $orange;
  margin-top: -5%;
}

// .transition {
//   height: 20px;
//   background: linear-gradient($orange ,$light-gray)
// }
